Repository GM07/Poly-Ink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

.gitlab-ci.yml:

image: xwiillz/node-chromium-mongo:lts-bionic

cache:
    key: '${CI_COMMIT_REF_SLUG}-client'
    paths:
        - client/node_modules/
        - server/node_modules/
    policy: pull

.only-client: &only-client
    only:
        refs:
            - master
            - merge_requests
        changes:
            - client/**/*
    cache:
        key: '${CI_COMMIT_REF_SLUG}-client'
        paths:
            - client/node_modules/
        policy: pull

.only-server: &only-server
    only:
        refs:
            - master
            - merge_requests
        changes:
            - server/**/*
    cache:
        key: '${CI_COMMIT_REF_SLUG}-server'
        paths:
            - server/node_modules/
        policy: pull

stages:
    - install
    - lint
    - build
    - test

install:client:
    stage: install
    <<: *only-client
    script:
        - cd client
        - npm ci --cache .npm --prefer-offline
    cache:
        key: '${CI_COMMIT_REF_SLUG}-client'
        paths:
            - client/node_modules/
            - client/.npm/
        policy: pull-push

install:server:
    stage: install
    <<: *only-server
    script:
        - cd server
        - npm ci --cache .npm --prefer-offline
    cache:
        key: '${CI_COMMIT_REF_SLUG}-server'
        paths:
            - server/node_modules/
            - server/.npm/
        policy: pull-push

lint:client:
    stage: lint
    <<: *only-client
    script:
        - cd client
        - npm run lint

lint:server:
    stage: lint
    <<: *only-server
    script:
        - cd server
        - npm run lint

build:client:
    stage: build
    <<: *only-client
    script:
        - cd client
        - npm run build
    artifacts:
        paths:
            - client/dist/

build:server:
    stage: build
    <<: *only-server
    script:
        - cd server
        - npm run build
    artifacts:
        paths:
            - server/out/

test:client:
    stage: test
    <<: *only-client
    script:
        - Xvfb :99 -ac -screen 0 1920x1080x24 &
        - cd client
        - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
    dependencies:
        - build:client
    artifacts:
        paths:
            - client/coverage/
        reports:
            cobertura: client/coverage/cobertura-coverage.xml

test:server:
    stage: test
    <<: *only-server
    script:
        - cd server
        - npm run coverage
    dependencies:
        - build:server
    artifacts:
        paths:
            - server/coverage/
        reports:
            cobertura: server/coverage/cobertura-coverage.xml

Export tests + coverage + lint
  client/src/app/classes/filters/black-white-filter.spec.ts
  client/src/app/classes/filters/black-white-filter.ts
  client/src/app/classes/filters/filter.spec.ts
  client/src/app/classes/filters/filter.ts
  client/src/app/classes/filters/funky-filter.spec.ts
  client/src/app/classes/filters/funky-filter.ts
  client/src/app/classes/filters/negative-filter.spec.ts
  client/src/app/classes/filters/sepia-filter.spec.ts
  client/src/app/classes/filters/sepia-filter.ts
  client/src/app/classes/filters/spotlight-filter.spec.ts
  client/src/app/classes/filters/spotlight-filter.ts
  client/src/app/components/canvas-reset/canvas-reset.component.html
  client/src/app/components/canvas-reset/canvas-reset.component.ts
  client/src/app/components/drawing/drawing.component.ts
  client/src/app/components/editor/editor.component.spec.ts
  client/src/app/components/export-drawing/export-drawing.component.html
  client/src/app/components/export-drawing/export-drawing.component.spec.ts
  client/src/app/components/export-drawing/export-drawing.component.ts
  client/src/app/services/popups/export-drawing.spec.ts
  client/src/app/services/popups/export-drawing.ts
  client/src/app/services/popups/new-drawing.spec.ts
  client/src/app/services/popups/new-drawing.ts
  client/src/app/services/popups/popup-handler.service.spec.ts
  client/src/app/services/popups/popup-handler.service.ts
  client/src/app/services/shortcut/shortcut-handler.service.ts
Due: install:client, lint:client, build:client, test:client

Base de donnee pt 1
  server/app/app.ts
  server/app/classes/drawing.ts
  server/app/controllers/drawing.controller.spec.ts
  server/app/controllers/drawing.controller.ts
  server/app/inversify.config.ts
  server/app/services/database.service.mock.ts
  server/app/services/database.service.spec.ts
  server/app/services/database.service.ts
  server/app/services/drawing.service.spec.ts
  server/app/services/drawing.service.ts
  server/app/types.ts
Due: install:server, lint:server, build:server, test:server

Amelioration du subscribe dans le component de la selection abstraite
  client/src/app/components/selection/abstract-selection/abstract-selection.component.scss
  client/src/app/components/selection/abstract-selection/abstract-selection.component.ts
Due: install:client, lint:client, build:client, test:client

Amelioration d'une condition if
  client/src/app/components/canvas-reset/canvas-reset.component.ts
Due: install:client, lint:client, build:client, test:client

Fix du import de shortcut
  client/src/app/services/tools/aerosol.service.ts
Due: install:client, lint:client, build:client, test:client

Résolutions de quelques threads en lien avec le merge request
  client/src/app/services/tools/abstract-selection.service.ts
  client/src/app/services/tools/ellipse-selection.service.ts
  client/src/app/services/tools/rectangle-selection.service.ts
Due: install:client, lint:client, build:client, test:client

Résolution du lint et des tests
  client/src/app/services/tools/abstract-selection.service.spec.ts
  client/src/app/services/tools/abstract-selection.service.ts
  client/src/app/services/tools/ellipse-selection.service.spec.ts
  client/src/app/services/tools/ellipse-selection.service.ts
  client/src/app/services/tools/rectangle-selection.service.spec.ts
  client/src/app/services/tools/rectangle-selection.service.ts
Due: install:client, lint:client, build:client, test:client

Ajout classe Tag
  server/app/classes/drawing.ts
  server/app/classes/tag.ts
  server/app/services/drawing.service.ts
Due: install:server, lint:server, build:server, test:server

Fix des fonctions suite aux commentaires de Gaya
  client/src/app/components/selection/abstract-selection/abstract-selection.component.ts
  client/src/app/components/selection/selection-handler/selection-handler.component.spec.ts
  client/src/app/services/tools/abstract-selection.service.ts
  client/src/app/services/tools/rectangle-selection.service.spec.ts
Due: install:client, lint:client, build:client, test:client

Amleioration de l'utilisation des booleens pour pouvoir faire un deplacement de selection avec les fleches directionnelles
  client/src/app/services/tools/abstract-selection.service.ts
Due: install:client, lint:client, build:client, test:client

Data Drawing
  common/communication/drawing-data.ts
  common/communication/drawing.ts
  common/communication/tag.ts
  server/app/classes/drawing.ts
  server/app/controllers/drawing.controller.ts
  server/app/services/drawing.service.ts
Due: install:server, lint:server, build:server, test:server

Separation drawing et drawing data
  common/communication/drawing-data.ts
  server/doc.http
Due: install:server, lint:server, build:server, test:server

Request create
  server/app/controllers/drawing.controller.ts
  server/doc.http
Due: install:server, lint:server, build:server, test:server

Modification du scope de certaines méthodes
  client/src/app/components/canvas-reset/canvas-reset.component.ts
  client/src/app/components/canvas-resize/canvas-resize.component.spec.ts
  client/src/app/components/canvas-resize/canvas-resize.component.ts
  client/src/app/services/drawing/canvas-reset.service.spec.ts
  client/src/app/services/drawing/canvas-reset.service.ts
  client/src/app/services/drawing/drawing.service.ts
  client/src/app/services/tools/line.service.spec.ts
  client/src/app/services/tools/line.service.ts
  client/src/app/services/tools/pencil.service.spec.ts
  client/src/app/services/tools/pencil.service.ts
Due: install:client, lint:client, build:client, test:client

Get request with/without tags
  common/communication/drawing-data.ts
  common/communication/drawing.ts
  common/communication/tag.ts
  server/app/app.ts
  server/app/controllers/drawing.controller.ts
  server/app/services/drawing.service.ts
  server/doc.http
  server/drawings/604008e357be03141d8e2bb7.png
  server/drawings/604009e16cfcb414f2134e12.png
Due: install:server, lint:server, build:server, test:server

REtourne pas dessins si pas present dans serveur
  server/app/controllers/drawing.controller.ts
Due: install:server, lint:server, build:server, test:server

Fix des issues
  client/src/app/services/tools/polygone.service.spec.ts
  client/src/app/services/tools/polygone.service.ts
Due: install:client, lint:client, build:client, test:client

Ajout de la couverature des branches
  client/src/app/services/tools/polygone.service.spec.ts
Due: install:client, lint:client, build:client, test:client

Improving starting angle
  client/src/app/constants/tool-settings.ts
  client/src/app/services/tools/polygone.service.spec.ts
  client/src/app/services/tools/polygone.service.ts
Due: install:client, lint:client, build:client, test:client

Lint fix
  client/src/app/services/tools/polygone.service.ts
Due: install:client, lint:client, build:client, test:client

Amelioration du drawPolygoneSides
  client/src/app/services/tools/polygone.service.ts
Due: install:client, lint:client, build:client, test:client

fix du lint
  client/src/app/services/tools/polygone.service.ts
Due: install:client, lint:client, build:client, test:client

integration des shortcuts et resulution d'un bug de deplacement
  client/src/app/components/selection/abstract-selection/abstract-selection.component.spec.ts
  client/src/app/components/selection/abstract-selection/abstract-selection.component.ts
  client/src/app/services/tools/abstract-selection.service.spec.ts
  client/src/app/services/tools/abstract-selection.service.ts
  client/src/app/services/tools/ellipse-selection.service.spec.ts
  client/src/app/services/tools/ellipse-selection.service.ts
  client/src/app/services/tools/rectangle-selection.service.spec.ts
  client/src/app/services/tools/rectangle-selection.service.ts
Due: install:client, lint:client, build:client, test:client

Couleur de fond remise à blanche
  client/src/app/services/tools/rectangle-selection.service.ts
Due: install:client, lint:client, build:client, test:client

Fix apres review
  client/src/app/classes/filters/monochrome-filter.spec.ts
  client/src/app/classes/filters/monochrome-filter.ts
  client/src/app/components/export-drawing/export-drawing.component.html
  client/src/app/components/export-drawing/export-drawing.component.spec.ts
  client/src/app/components/export-drawing/export-drawing.component.ts
  client/src/app/services/popups/export-drawing.ts
  client/src/app/services/popups/popup-handler.service.spec.ts
  client/src/app/services/popups/popup-handler.service.ts
Due: install:client, lint:client, build:client, test:client

Merge avec le master
  client/src/app/services/tools/polygone.service.ts
Due: install:client, lint:client, build:client, test:client

Creation d'un premier modèle de carrousel
  client/src/app/app-routing.module.ts
  client/src/app/app.module.ts
  client/src/app/components/carrousel/carrousel.component.html
  client/src/app/components/carrousel/carrousel.component.scss
  client/src/app/components/carrousel/carrousel.component.spec.ts
  client/src/app/components/carrousel/carrousel.component.ts
  client/src/app/components/editor/editor.component.html
  client/src/app/components/home-page/home-page.component.html
  client/src/app/components/home-page/home-page.component.ts
Due: install:client, lint:client, build:client, test:client

Modification de l'affichage pour des fiches
  client/src/app/components/carrousel/carrousel.component.html
  client/src/app/components/carrousel/carrousel.component.scss
  client/src/app/components/carrousel/carrousel.component.ts
Due: install:client, lint:client, build:client, test:client

fix jpeg
  client/src/app/components/export-drawing/export-drawing.component.html
  client/src/app/services/popups/export-drawing.ts
Due: install:client, lint:client, build:client, test:client

Amelioration de l'affichage de fiches
  client/src/app/components/carrousel/carrousel.component.html
  client/src/app/components/carrousel/carrousel.component.ts
Due: install:client, lint:client, build:client, test:client

Ajout service carrousel
  client/src/app/app.module.ts
  client/src/app/components/drawing-tags/drawing-tags.component.html
  client/src/app/components/drawing-tags/drawing-tags.component.scss
  client/src/app/components/drawing-tags/drawing-tags.component.spec.ts
  client/src/app/components/drawing-tags/drawing-tags.component.ts
  server/drawings/60418e8053bf65b4f1efa21a.png
  server/drawings/6041916e5ee5357856d51699.png
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Fix du flip du triangle
  client/src/app/components/tool-config/polygone-config/polygone-config.component.html
  client/src/app/components/tool-config/polygone-config/polygone-config.component.spec.ts
  client/src/app/components/tool-config/polygone-config/polygone-config.component.ts
  client/src/app/constants/tool-settings.ts
  client/src/app/services/tools/polygone.service.spec.ts
  client/src/app/services/tools/polygone.service.ts
Due: install:client, lint:client, build:client, test:client

Déplacement du sujet pour qu'il se situe dans le drawing service
  client/src/app/components/canvas-resize/canvas-resize.component.ts
  client/src/app/services/drawing/canvas-reset.service.ts
  client/src/app/services/drawing/drawing.service.ts
Due: install:client, lint:client, build:client, test:client

Fix aspect ratio preview
  client/src/app/components/export-drawing/export-drawing.component.html
  client/src/app/components/export-drawing/export-drawing.component.ts
Due: install:client, lint:client, build:client, test:client

POU logique au lieu d'un ET logique quand on get avec des filters
  .vscode/launch.json
  client/src/app/app.module.ts
  client/src/app/components/drawing-tags/drawing-tags.component.html
  client/src/app/components/drawing-tags/drawing-tags.component.scss
  client/src/app/components/drawing-tags/drawing-tags.component.ts
  client/src/app/components/editor/editor.component.html
  client/src/app/services/carrousel/carrousel.service.ts
  server/app/services/drawing.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Ajout du shortcut handler dans le newDrawingService
  client/src/app/services/drawing/canvas-reset.service.ts
Due: install:client, lint:client, build:client, test:client

Résolution du lint...
  client/src/app/services/drawing/canvas-reset.service.ts
Due: install:client, lint:client, build:client, test:client

Chargement du canvas avec un click
  client/src/app/components/canvas-reset/canvas-reset.component.html
  client/src/app/components/carrousel/carrousel.component.html
  client/src/app/components/carrousel/carrousel.component.scss
  client/src/app/components/carrousel/carrousel.component.ts
  client/src/app/components/drawing/drawing.component.ts
  client/src/app/services/drawing/drawing.service.ts
Due: install:client, lint:client, build:client, test:client

Changements pour les issues
  client/src/app/components/tool-config/polygone-config/polygone-config.component.scss
  client/src/app/components/tool-config/polygone-config/polygone-config.component.spec.ts
  client/src/app/components/tool-config/polygone-config/polygone-config.component.ts
  client/src/app/constants/tool-settings.ts
  client/src/app/services/tools/polygone.service.spec.ts
  client/src/app/services/tools/polygone.service.ts
Due: install:client, lint:client, build:client, test:client

Ajout de l'alerte lors du chargement d'un element
  client/src/app/components/carrousel/carrousel.component.html
  client/src/app/components/carrousel/carrousel.component.scss
  client/src/app/components/carrousel/carrousel.component.ts
  client/src/app/services/drawing/drawing.service.ts
Due: install:client, lint:client, build:client, test:client
