Repository GM07/Poly-Ink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: lint
  script:
  - cd client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  script:
  - cd server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
    - client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
    - server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: test
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  - build:client
  artifacts:
    paths:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  script:
  - cd server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - server/coverage/
    reports:
      cobertura: server/coverage/cobertura-coverage.xml

Comments
  server/app/controllers/drawing.controller.ts
  server/app/services/drawing.service.spec.ts
  server/app/services/drawing.service.ts
  server/drawings/604f6f039413f60530505ae3.png
Due: install:server, lint:server, build:server, test:server

shortcut
  client/src/app/components/editor/editor.component.ts
  client/src/app/services/undo-redo/undo-redo.service.ts
Due: install:client, lint:client, build:client, test:client

reset bd
  server/app/controllers/drawing.controller.ts
  server/app/services/drawing.service.ts
  server/doc.http
  server/drawings/604f86800084450cbffbacd0.png
  server/drawings/604f86e80084450cbffbacd1.png
  server/drawings/604f872a0084450cbffbacd2.png
  server/drawings/604f87380084450cbffbacd3.png
Due: install:server, lint:server, build:server, test:server

Premiere verse de la selection qui se poursuit hors du canvas
  client/src/app/components/drawing/drawing.component.ts
  client/src/app/services/tools/abstract-selection.service.ts
Due: install:client, lint:client, build:client, test:client

Ajout du UI pour sauvegarder le dessin et de la validation des entrees
  client/src/app/app.module.ts
  client/src/app/components/editor/editor.component.html
  client/src/app/components/editor/editor.component.ts
  client/src/app/components/save-drawing/save-drawing.component.html
  client/src/app/components/save-drawing/save-drawing.component.scss
  client/src/app/components/save-drawing/save-drawing.component.spec.ts
  client/src/app/components/save-drawing/save-drawing.component.ts
  client/src/app/services/popups/save-drawing.service.spec.ts
  client/src/app/services/popups/save-drawing.service.ts
  server/doc.http
  server/drawings/296.png
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Selection possible a l'exterieur du canvas
  client/src/app/components/drawing/drawing.component.ts
  client/src/app/components/selection/abstract-selection/abstract-selection.component.spec.ts
  client/src/app/components/selection/abstract-selection/abstract-selection.component.ts
  client/src/app/services/tools/abstract-selection.service.spec.ts
  client/src/app/services/tools/abstract-selection.service.ts
Due: install:client, lint:client, build:client, test:client

Légere modification au popup et au shortcut
  client/src/app/components/canvas-reset/canvas-reset.component.ts
  client/src/app/services/undo-redo/undo-redo.service.ts
Due: install:client, lint:client, build:client, test:client

Ajout de la validation pour les tags dans ui
  client/src/app/components/save-drawing/save-drawing.component.html
  client/src/app/components/save-drawing/save-drawing.component.scss
  client/src/app/components/save-drawing/save-drawing.component.ts
Due: install:client, lint:client, build:client, test:client

fix delete backend
  server/app/classes/http-codes.ts
  server/app/classes/response-message.ts
  server/app/controllers/drawing.controller.spec.ts
  server/app/controllers/drawing.controller.ts
  server/app/services/drawing.service.spec.ts
  server/app/services/drawing.service.ts
  server/doc.http
  server/drawings/604fb587aa7e2a12bfdea046.png
  server/drawings/604fb59baa7e2a12bfdea047.png
  server/drawings/604fb88b76255e155e5c983a.png
  server/drawings/604fb89876255e155e5c983b.png
Due: install:server, lint:server, build:server, test:server

Conversion en base 64
  client/src/app/components/save-drawing/save-drawing.component.ts
  client/src/app/services/popups/save-drawing.service.ts
  server/doc.http
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

tests
  server/app/classes/http-codes.ts
  server/app/classes/response-message.spec.ts
  server/app/controllers/drawing.controller.spec.ts
  server/app/services/drawing.service.spec.ts
  server/app/services/drawing.service.ts
  server/doc.http
  server/drawings/604f86e80084450cbffbacd1.png
  server/drawings/604f872a0084450cbffbacd2.png
Due: install:server, lint:server, build:server, test:server

test
  server/app/services/drawing.service.spec.ts
  server/app/services/drawing.service.ts
Due: install:server, lint:server, build:server, test:server

Modification de la variable page pour client
  client/src/app/classes/tool.ts
  client/src/app/services/tools/aerosol.service.spec.ts
  client/src/app/services/tools/ellipse.service.spec.ts
  client/src/app/services/tools/eraser.service.spec.ts
  client/src/app/services/tools/line.service.spec.ts
  client/src/app/services/tools/line.service.ts
  client/src/app/services/tools/pencil.service.spec.ts
  client/src/app/services/tools/polygone.service.spec.ts
  client/src/app/services/tools/rectangle.service.spec.ts
Due: install:client, lint:client, build:client, test:client

Amelioration du moyen dont fonctionne le déplacement hors du canvas
  client/src/app/app.module.ts
  client/src/app/components/editor/editor.component.html
  client/src/app/components/selection/abstract-selection/abstract-selection.component.spec.ts
  client/src/app/components/selection/abstract-selection/abstract-selection.component.ts
  client/src/app/components/selection/ellipse-selection/ellipse-selection.component.ts
  client/src/app/components/selection/rectangle-selection/rectangle-selection.component.ts
  client/src/app/directives/drawing-container.directive.spec.ts
  client/src/app/directives/drawing-container.directive.ts
  client/src/app/services/selection/selection-events.service.spec.ts
  client/src/app/services/selection/selection-events.service.ts
  client/src/app/services/tools/abstract-selection.service.ts
Due: install:client, lint:client, build:client, test:client

Ajout de la bordure dans le calcul de la position
  client/src/app/classes/tool.ts
  client/src/app/services/tools/pencil.service.ts
Due: install:client, lint:client, build:client, test:client

Delete fonctionne
  client/src/app/components/drawing-tags/drawing-tags.component.html
  client/src/app/components/drawing-tags/drawing-tags.component.ts
  client/src/app/services/carrousel/carrousel.service.spec.ts
  client/src/app/services/carrousel/carrousel.service.ts
Due: install:client, lint:client, build:client, test:client

Ajout d'un ngIf a la prévisualisation
  client/src/app/components/tool-config/eye-dropper-config/eye-dropper-config.component.html
  client/src/app/components/tool-config/eye-dropper-config/eye-dropper-config.component.ts
  client/src/app/services/tools/eye-dropper.service.ts
Due: install:client, lint:client, build:client, test:client

Correction du comportement hors de la zone de dessin
  client/src/app/components/selection/abstract-selection/abstract-selection.component.spec.ts
  client/src/app/components/selection/abstract-selection/abstract-selection.component.ts
Due: install:client, lint:client, build:client, test:client

Ajout de tests
  client/src/app/components/tool-config/eye-dropper-config/eye-dropper-config.component.spec.ts
Due: install:client, lint:client, build:client, test:client

Résolution du lint...
  client/src/app/components/tool-config/eye-dropper-config/eye-dropper-config.component.spec.ts
Due: install:client, lint:client, build:client, test:client

Coverage close to 100
  server/app/controllers/drawing.controller.spec.ts
  server/app/controllers/drawing.controller.ts
  server/app/services/drawing.service.spec.ts
  server/app/services/drawing.service.ts
Due: install:server, lint:server, build:server, test:server

Tests a regler
  client/src/app/components/editor/editor.component.spec.ts
  client/src/app/components/save-drawing/save-drawing.component.html
  client/src/app/components/save-drawing/save-drawing.component.scss
  client/src/app/components/save-drawing/save-drawing.component.spec.ts
  client/src/app/components/save-drawing/save-drawing.component.ts
  client/src/app/services/carrousel/carrousel.const.ts
  client/src/app/services/carrousel/carrousel.service.spec.ts
  client/src/app/services/carrousel/carrousel.service.ts
  client/src/app/services/popups/save-drawing.service.spec.ts
  client/src/app/services/popups/save-drawing.service.ts
  server/app/services/drawing.service.ts
  server/drawings/296.png
  server/drawings/604fd26f179a7b41a48408d0.png
  server/drawings/604fd2d5179a7b41a48408d1.png
  server/drawings/604ffee3c4ba7840e4e0f170.png
  server/drawings/604ffee9c4ba7840e4e0f171.png
  server/drawings/604fff40c4ba7840e4e0f172.png
  server/drawings/605005ffbc92e73d689b3a98.png
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Oublie de sauvegarder...
  client/src/app/components/save-drawing/save-drawing.component.spec.ts
  client/src/app/components/save-drawing/save-drawing.component.ts
Due: install:client, lint:client, build:client, test:client

Fix de légers bugs en lien avec la sélection
  client/src/app/services/tools/abstract-selection.service.ts
Due: install:client, lint:client, build:client, test:client

Résolution du probleme en y
  client/src/app/components/editor/editor.component.scss
  client/src/app/services/tools/abstract-selection.service.ts
Due: install:client, lint:client, build:client, test:client

Élimination d'une ligne de code inutile
  client/src/app/services/tools/abstract-selection.service.ts
Due: install:client, lint:client, build:client, test:client

Résolution des tests
  client/src/app/services/tools/abstract-selection.service.spec.ts
  client/src/app/services/tools/ellipse-selection.service.spec.ts
  client/src/app/services/tools/rectangle-selection.service.spec.ts
Due: install:client, lint:client, build:client, test:client

Résolution du lint
  client/src/app/services/tools/abstract-selection.service.spec.ts
  client/src/app/services/tools/ellipse-selection.service.spec.ts
  client/src/app/services/tools/rectangle-selection.service.spec.ts
Due: install:client, lint:client, build:client, test:client

Selection cache les points de resize
  client/src/app/directives/sidebar.directive.spec.ts
  client/src/app/directives/sidebar.directive.ts
Due: install:client, lint:client, build:client, test:client

Correction du comportement hors de la zone de dessin
  client/src/app/app.module.ts
  client/src/app/components/canvas-resize/canvas-resize.component.html
  client/src/app/components/editor/editor.component.html
  client/src/app/components/selection/abstract-selection/abstract-selection.component.html
  client/src/app/components/selection/abstract-selection/abstract-selection.component.scss
  client/src/app/components/selection/abstract-selection/abstract-selection.component.spec.ts
  client/src/app/components/selection/abstract-selection/abstract-selection.component.ts
Due: install:client, lint:client, build:client, test:client

Correction des tests après le merge
  client/src/app/components/selection/abstract-selection/abstract-selection.component.spec.ts
  client/src/app/directives/sidebar.directive.spec.ts
Due: install:client, lint:client, build:client, test:client

Resolution d'un bug en lien avec la taille du body
  client/src/app/components/selection/abstract-selection/abstract-selection.component.ts
  client/src/app/services/tools/abstract-selection.service.ts
Due: install:client, lint:client, build:client, test:client

Ajout de unsubscribe
  client/src/app/components/selection/abstract-selection/abstract-selection.component.ts
Due: install:client, lint:client, build:client, test:client

Résolution du lint
  client/src/app/components/selection/abstract-selection/abstract-selection.component.ts
  client/src/app/services/tools/abstract-selection.service.ts
Due: install:client, lint:client, build:client, test:client

fix coverage and lint
  server/app/classes/http-codes.ts
  server/app/classes/response-message.ts
  server/app/controllers/drawing.controller.spec.ts
  server/app/controllers/drawing.controller.ts
  server/app/services/drawing.service.spec.ts
  server/app/services/drawing.service.ts
Due: install:server, lint:server, build:server, test:server

Fix double constructor for mock
  server/app/services/drawing.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Ajout throw erreur
  server/app/services/database.service.ts
Due: install:server, lint:server, build:server, test:server

Integration avec carrousel
  client/src/app/components/carrousel/carrousel.component.html
  client/src/app/components/carrousel/carrousel.component.ts
  client/src/app/components/drawing-tags/drawing-tags.component.html
  client/src/app/components/drawing-tags/drawing-tags.component.scss
  client/src/app/components/drawing-tags/drawing-tags.component.ts
Due: install:client, lint:client, build:client, test:client

Affichage des dessins sur le serveur
  client/src/app/components/carrousel/carrousel.component.html
  client/src/app/components/carrousel/carrousel.component.ts
  client/src/app/components/drawing-tags/drawing-tags.component.html
Due: install:client, lint:client, build:client, test:client

Reviews
  server/app/app.ts
  server/app/classes/http-codes.ts
  server/app/controllers/drawing.controller.ts
  server/app/services/database.service.spec.ts
  server/app/services/database.service.ts
  server/app/services/drawing.service.spec.ts
  server/app/services/drawing.service.ts
Due: install:server, lint:server, build:server, test:server

Path conditions:
  install:client: any of: client/**/*
  install:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
