Repository GM07/Poly-Ink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: lint
  script:
  - cd client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  script:
  - cd server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
    - client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
    - server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: test
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  - build:client
  artifacts:
    paths:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  script:
  - cd server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - server/coverage/
    reports:
      cobertura: server/coverage/cobertura-coverage.xml

Corrections des threads
  .vscode/launch.json
Due: none

Fix post
  server/app/controllers/drawing.controller.ts
  server/doc.http
  server/drawings/6051645a44acd8162e7af166.png
Due: install:server, lint:server, build:server, test:server

Carrousel
  server/doc.http
Due: install:server, lint:server, build:server, test:server

Changement dans service carroussel
  client/src/app/services/carrousel/carrousel.service.ts
Due: install:client, lint:client, build:client, test:client

Coverage 100% et tests termines
  server/drawings/6051671c09be9e56f8f766ed.png
Due: install:server, lint:server, build:server, test:server

Coverage 100% et tests termines
  client/src/app/components/editor/editor.component.spec.ts
  client/src/app/components/editor/editor.component.ts
  client/src/app/components/save-drawing/save-drawing.component.spec.ts
  client/src/app/components/save-drawing/save-drawing.component.ts
  client/src/app/services/carrousel/carrousel.const.ts
  client/src/app/services/carrousel/carrousel.service.spec.ts
  client/src/app/services/carrousel/carrousel.service.ts
  client/src/app/services/popups/save-drawing.service.spec.ts
  client/src/app/services/popups/save-drawing.service.ts
  common/communication/drawing-data.ts
  common/communication/response-message.ts
Due: install:client, lint:client, build:client, test:client

Remove du debut des drawing tags
  client/src/app/components/drawing-tags/drawing-tags.component.spec.ts
Due: install:client, lint:client, build:client, test:client

Ajout delete sur carrousel
  client/src/app/components/carrousel/carrousel.component.html
  client/src/app/components/carrousel/carrousel.component.ts
  client/src/app/services/carrousel/carrousel.service.ts
Due: install:client, lint:client, build:client, test:client

Changement dans le regex des tags
  client/src/app/components/save-drawing/save-drawing.component.ts
  server/app/services/database.service.ts
  server/drawings/60522866b16f08198caf6676.png
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Fix internet backend
  server/app/classes/response-message.ts
  server/app/controllers/drawing.controller.ts
  server/app/services/database.service.ts
  server/app/services/drawing.service.ts
Due: install:server, lint:server, build:server, test:server

retry connecting
  server/app/controllers/drawing.controller.ts
  server/app/services/database.service.ts
  server/app/services/drawing.service.ts
Due: install:server, lint:server, build:server, test:server

url oups
  server/app/services/database.service.ts
  server/app/services/drawing.service.ts
Due: install:server, lint:server, build:server, test:server

Coverage 100% + lint pass
  server/app/classes/response-message.spec.ts
  server/app/controllers/drawing.controller.spec.ts
  server/app/services/drawing.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Ajout gestion erreur de connexion internet cote client et ajout fonctionnalite delete dans carrousel
  client/src/app/components/carrousel/carrousel.component.html
  client/src/app/components/carrousel/carrousel.component.ts
  client/src/app/components/drawing-tags/drawing-tags.component.ts
  client/src/app/services/carrousel/carrousel.service.ts
Due: install:client, lint:client, build:client, test:client

Merge request du feature
  server/app/services/database.service.ts
  server/drawings/6052ab181eb92b3ee8808428.png
Due: install:server, lint:server, build:server, test:server

Fix des threads
  client/src/app/components/save-drawing/save-drawing.component.html
  client/src/app/components/save-drawing/save-drawing.component.spec.ts
  client/src/app/components/save-drawing/save-drawing.component.ts
  client/src/app/services/carrousel/carrousel.service.spec.ts
  client/src/app/services/carrousel/carrousel.service.ts
Due: install:client, lint:client, build:client, test:client

Ajout de l'attribut toolID au outils de type shape
  client/src/app/services/tools/ellipse.service.ts
  client/src/app/services/tools/eye-dropper.service.ts
  client/src/app/services/tools/rectangle.service.ts
  client/src/app/services/tools/tool-handler.service.ts
Due: install:client, lint:client, build:client, test:client

lint et coverage
  client/src/app/components/canvas-reset/canvas-reset.component.spec.ts
  client/src/app/components/canvas-resize/canvas-resize.component.ts
  client/src/app/services/drawing/drawing.service.ts
  client/src/app/services/tools/abstract-selection.service.ts
  client/src/app/services/tools/abstract-shape.service.ts
  client/src/app/services/tools/ellipse.service.spec.ts
  client/src/app/services/tools/ellipse.service.ts
  client/src/app/services/tools/eraser.service.spec.ts
  client/src/app/services/tools/eraser.service.ts
  client/src/app/services/tools/pencil.service.spec.ts
  client/src/app/services/tools/pencil.service.ts
  client/src/app/services/tools/rectangle-selection.service.spec.ts
  client/src/app/services/tools/rectangle.service.spec.ts
  client/src/app/services/tools/rectangle.service.ts
  client/src/app/services/undo-redo/undo-redo.service.spec.ts
  client/src/app/services/undo-redo/undo-redo.service.ts
Due: install:client, lint:client, build:client, test:client

La selection est bloquee lorsqu'un popu est affiche
  client/src/app/components/drawing/drawing.component.spec.ts
  client/src/app/components/drawing/drawing.component.ts
  client/src/app/components/editor/editor.component.spec.ts
  client/src/app/components/editor/editor.component.ts
  client/src/app/components/selection/abstract-selection/abstract-selection.component.spec.ts
  client/src/app/components/selection/abstract-selection/abstract-selection.component.ts
  client/src/app/components/selection/ellipse-selection/ellipse-selection.component.ts
  client/src/app/components/selection/rectangle-selection/rectangle-selection.component.ts
  client/src/app/services/shortcut/shortcut-handler.service.spec.ts
  client/src/app/services/shortcut/shortcut-handler.service.ts
Due: install:client, lint:client, build:client, test:client

Fix thread
  client/src/app/services/carrousel/carrousel.service.ts
Due: install:client, lint:client, build:client, test:client

int..
  client/src/app/services/carrousel/carrousel.service.ts
Due: install:client, lint:client, build:client, test:client

Fixed test
  client/src/app/classes/commands/rectangle-draw.spec.ts
Due: install:client, lint:client, build:client, test:client

Ajout de la gestion des outils lorsqu'un popup est ouvert
  client/src/app/services/shortcut/shortcut-handler.service.spec.ts
  client/src/app/services/shortcut/shortcut-handler.service.ts
Due: install:client, lint:client, build:client, test:client

Retrait de la confirmation de la sélection lorsqu'on clique sur le sidebar
  client/src/app/components/selection/abstract-selection/abstract-selection.component.spec.ts
  client/src/app/components/selection/abstract-selection/abstract-selection.component.ts
Due: install:client, lint:client, build:client, test:client

colors are protected inside of service
  client/src/app/classes/commands/abstract-draw.ts
Due: install:client, lint:client, build:client, test:client

Warning a cause des forms
  client/src/app/components/save-drawing/save-drawing.component.html
  client/src/app/components/save-drawing/save-drawing.component.ts
Due: install:client, lint:client, build:client, test:client

lint
  client/src/app/components/save-drawing/save-drawing.component.ts
  server/drawings/6053ec87dc1dc041b087da05.png
  server/drawings/6053efe1dc1dc041b087da06.png
  server/drawings/6053f24bdb53c544d87c749f.png
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

made config privates on commands
  client/src/app/classes/commands/aerosol-draw.spec.ts
  client/src/app/classes/commands/aerosol-draw.ts
  client/src/app/classes/commands/ellipse-draw.spec.ts
  client/src/app/classes/commands/ellipse-draw.ts
  client/src/app/classes/commands/ellipse-selection-draw.spec.ts
  client/src/app/classes/commands/ellipse-selection-draw.ts
  client/src/app/classes/commands/eraser-draw.spec.ts
  client/src/app/classes/commands/eraser-draw.ts
  client/src/app/classes/commands/line-draw.spec.ts
  client/src/app/classes/commands/line-draw.ts
  client/src/app/classes/commands/pencil-draw.spec.ts
  client/src/app/classes/commands/pencil-draw.ts
  client/src/app/classes/commands/polygon-draw.spec.ts
  client/src/app/classes/commands/polygon-draw.ts
  client/src/app/classes/commands/rectangle-draw.spec.ts
  client/src/app/classes/commands/rectangle-draw.ts
  client/src/app/classes/commands/rectangle-selection-draw.spec.ts
  client/src/app/classes/commands/rectangle-selection-draw.ts
  client/src/app/classes/commands/resize-draw.spec.ts
  client/src/app/classes/commands/resize-draw.ts
Due: install:client, lint:client, build:client, test:client

Default names dans un fichier de constnats
  client/src/app/components/export-drawing/export-drawing.component.ts
  client/src/app/components/save-drawing/save-drawing.component.ts
  client/src/app/constants/drawing.ts
Due: install:client, lint:client, build:client, test:client

lint...
  client/src/app/components/export-drawing/export-drawing.component.ts
  client/src/app/components/save-drawing/save-drawing.component.ts
  client/src/app/constants/drawing.ts
Due: install:client, lint:client, build:client, test:client

Ajout tests carrousel et drawing tags
  client/src/app/components/carrousel/carrousel.component.spec.ts
  client/src/app/components/carrousel/carrousel.component.ts
  client/src/app/components/drawing-tags/drawing-tags.component.html
  client/src/app/components/drawing-tags/drawing-tags.component.spec.ts
  client/src/app/components/home-page/home-page.component.spec.ts
  client/src/app/services/carrousel/carrousel.service.spec.ts
Due: install:client, lint:client, build:client, test:client

Delete tested
  client/src/app/components/carrousel/carrousel.component.spec.ts
  client/src/app/components/carrousel/carrousel.component.ts
Due: install:client, lint:client, build:client, test:client

lint fixed
  client/src/app/classes/commands/aerosol-draw.spec.ts
  client/src/app/classes/commands/eraser-draw.spec.ts
  client/src/app/classes/commands/pencil-draw.spec.ts
  client/src/app/classes/commands/rectangle-draw.spec.ts
  client/src/app/classes/commands/resize-draw.spec.ts
  client/src/app/components/editor/editor.component.ts
  client/src/app/services/shortcut/shortcut-handler.service.spec.ts
  client/src/app/services/shortcut/shortcut-handler.service.ts
  client/src/app/services/tools/abstract-selection.service.ts
  client/src/app/services/undo-redo/undo-redo.service.spec.ts
Due: install:client, lint:client, build:client, test:client

removed TODO
  client/src/app/classes/commands/rectangle-draw.ts
  client/src/app/classes/commands/resize-draw.ts
Due: install:client, lint:client, build:client, test:client

moved some init to constructor
  client/src/app/classes/commands/rectangle-draw.ts
  client/src/app/classes/commands/resize-draw.ts
  client/src/app/classes/tool-config/aerosol-config.ts
Due: install:client, lint:client, build:client, test:client

Ajout test error dans loadCarrousel
  client/src/app/components/carrousel/carrousel.component.spec.ts
  client/src/app/components/carrousel/carrousel.component.ts
Due: install:client, lint:client, build:client, test:client

Ajout test connection
  client/src/app/components/carrousel/carrousel.component.spec.ts
  client/src/app/services/carrousel/carrousel.service.spec.ts
  client/src/app/services/carrousel/carrousel.service.ts
Due: install:client, lint:client, build:client, test:client

config init variable in constructor
  client/src/app/classes/tool-config/line-config.ts
  client/src/app/classes/tool-config/pencil-config.ts
  client/src/app/classes/tool-config/polygon-config.ts
  client/src/app/classes/tool-config/selection-config.ts
  client/src/app/classes/tool-config/shape-config.ts
Due: install:client, lint:client, build:client, test:client

linting for configs
  client/src/app/classes/tool-config/line-config.ts
  client/src/app/classes/tool-config/pencil-config.ts
  client/src/app/classes/tool-config/polygon-config.ts
Due: install:client, lint:client, build:client, test:client

Path conditions:
  install:client: any of: client/**/*
  install:server: any of: server/**/*
  lint:client: any of: client/**/*
  lint:server: any of: server/**/*
  build:client: any of: client/**/*
  build:server: any of: server/**/*
  test:client: any of: client/**/*
  test:server: any of: server/**/*
